<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="author" content="Desire Kaleba" />
    <meta name="description" content="WayFarer an online bus booking system" />
    <meta name="keywords" content="WayFarer, way_farer, way-farer, 
    Online booking system, 
    online bus reservation system, 
    online bus booking system" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../deskastyle.css"/>
    <link rel="stylesheet" href="../main.css"/>

    <title>WayFarer-Admin</title>
</head>
<body>
    <main style="background-color: silver;">

    </main>
</body>
</html>