<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="author" content="Desire Kaleba" />
    <meta name="description" content="WayFarer an online bus booking system" />
    <meta name="keywords" content="WayFarer, way_farer, way-farer, 
    Online booking system, 
    online bus reservation system, 
    online bus booking system" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../deskastyle.css">
    <link rel="stylesheet" href="../main.css">

    <title>WayFarer-Login</title>
</head>

<body>
    <header class="wrapper flex-row no-wrap black clr-white j-btwn a-center sticky-top">
        <h1>Way<span class="clr-primary">Farer</span></h1>
        <div class="links">
            <a href="#" class="clr-white">Sign in</a>
            <a href="#" class="ml-2 clr-white">Sign up</a>
        </div>
    </header>
    <main>
        <div class="wrapper mt-3">
            <div class="wrapper bg-black clr-white pt-1 pb-3">
                <h1>Login</h1>
                <form action="" method="POST">
                    <div>
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" />
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" />
                    </div>
                    <input class="button bg-primary clr-white mt-2" type="submit" value="Login" name="login"
                        id="login" />
                </form>
            </div>
        </div>
    </main>
</body>

</html>