<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="author" content="Desire Kaleba" />
    <meta name="description" content="WayFarer an online bus booking system" />
    <meta name="keywords" content="WayFarer, way_farer, way-farer, 
    Online booking system, 
    online bus reservation system, 
    online bus booking system" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../deskastyle.css">
    <link rel="stylesheet" href="../main.css">

    <title>WayFarer-Sign</title>
</head>

<body>
    <header class="wrapper flex-row no-wrap black clr-white j-btwn a-center sticky-top">
        <h1>Way<span class="clr-primary">Farer</span></h1>
        <div class="links">
            <a href="#" class="clr-white">Sign in</a>
            <a href="#" class="ml-2 clr-white">Sign up</a>
        </div>
    </header>
    <main>
        <div class="wrapper mt-2">
            <div class="wrapper bg-black clr-white pt-1 pb-2">
                <h2 class="fw-4">Create an Account</h2>
                <form action="" method="POST">
                    <div class="flex-row no-wrap j-around">
                        <div class="">
                            <div>
                                <label for="firstname">Firstname</label>
                                <input type="text" name="firstname" id="firstname" />
                            </div>
                            <div>
                                <label for="lastname">Lastname</label>
                                <input type="text" name="lastname" id="lastname" />
                            </div>
                            <div>
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" />
                            </div>
                            <div>
                                <label for="dob">Date of Birth</label>
                                <input type="date" name="dob" id="dob" />
                            </div>
                            <div>
                                <label for="gender">Gender</label>
                                <select name="gender" id="gender">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="notspecified">Prefer not to say</option>
                                </select>
                            </div>
                            <div>
                                <div>
                                    <label for="profile-picture">Choose a profile Picture</label>
                                    <input class="button bg-secondary" type="file" name="profile-picture"
                                        id="profile-picture" />
                                    <img id="profile-picture-bitmap" src="../img/profile-picture-default-male.png"
                                        alt="" width="100">
                                </div>

                            </div>
                        </div>

                        <div class="pl-1">
                            <div>
                                <label for="country">Country</label>
                                <input type="text" name="country" id="country" />
                            </div>
                            <div>
                                <label for="city">City</label>
                                <input type="text" name="city" id="city" />
                            </div>
                            <div>
                                <label for="street">Street</label>
                                <input type="text" name="street" id="street" />
                            </div>
                            <div>
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" />
                            </div>
                            <div>
                                <label for="confirm-password">Confirm Password</label>
                                <input type="password" name="confirm-password" id="confirm-password" />
                            </div>
                            <div>
                                <label for="type">I want to</label><br>
                                <input id="admin" type="radio" name="type" value="admin" />
                                <label for="admin">Book a bus</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input id="admin" type="radio" name="type" value="admin" />
                                <label for="client">Register a trip/trips</label>

                            </div>
                        </div>
                    </div>
                    <input class="button bg-primary clr-white mt-1 mb-1" type="submit" value="Register" name="signup"
                        id="signup" />
                </form>
            </div>
        </div>
    </main>
    <footer class="wrapper black clr-white mt-3 pt-1 pb-2">
        <div class="social mb-1">
            <a href="#"><img class="social-m wtp mr-1" src="../img/awesome-whatsapp.png" alt="Whatsapp" /></a>
            <a href="#"><img class="social-m inst mr-1" src="../img/awesome-instagram.png" alt="Instagram" /></a>
            <a href="#"><img class="social-m twt mr-1" src="../img/awesome-twitter.png" alt="Twitter" /></a>
            <a href="#"><img class="social-m fcbk" src="../img/awesome-facebook.png" alt="Facebook" /></a>
        </div>
        <div class="bda-t">
            <div class="flex-row j-btwn pt-1">
                <p>&copy; 2020 way<span class="clr-primary">Farer</span></p>
                <div class="">
                    <a href="#">Terms of services</a>
                    <a href="#">Privacy Policy</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>