#awards {
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.award img {
    max-width: 3rem;
    height: 3rem;
}

.award>h3 {
    font-size: 2rem;
    position: relative;
}

.award h4 {
    font-weight: 100;
    position: absolute;

}

#email-subscription-form {
    max-width: 40rem;
    margin: auto;
}